//!  --------My base----------------

body {
  color: $c-black;
  font-family: $f-montserrat;
  font-size: $fs-base;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  // border: 1px solid rgb(169, 169, 255);
  // cursor: default;
}

img {
  width: 100%;
}

svg {
  width: 100%;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: initial;
}

a:active {
  color: inherit;
  opacity: 0.5;
}

a:visited {
  color: inherit;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

//!  --------My base styles----------------

.container {
  max-width: 1200px; // content 1170px
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

//!  -------- Text selection----------------
*::selection {
  background-color: rgba($c-violet, 0.1);
}

//!  --------Scrollbar----------------
*::-webkit-scrollbar {
  border-radius: 10px;
  position: relative;
  z-index: 999;
  width: 9px;
  opacity: 0.7;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba($c-blue, 0.8);
  background-color: rgba($c-blue, 0.2);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 3px rgba($c-blue, 0.6);
  background-color: $c-blue;
  border-radius: 10px;
  outline: none;
}
