mixin burger-menu()
  section.c-burger-menu.animate__animated.animate__fadeInDown#js-burger-menu
    .c-burger-menu__wrapper.container
      +title-upline(class='upline upline--white')
      h1.c-burger-menu__title Navigation
      nav.c-burger-menu__navigation
        li.navigation__item
          a(href="#what-we-do").navigation__link 
            span.circle
            span About us 
        li.navigation__item
          a(href="#gallery").navigation__link 
            span.circle
            span Projects
        li.navigation__item
          a(href="#news").navigation__link 
            span.circle
            span News
        li.navigation__item
          a(href="#js-map").navigation__link 
            span.circle
            span Contact

