mixin commerce-centre()
  .container.panel
    .panel__content.panel__content--reverse
      .panel__rectangle--violet
      .panel__picture
        img(src="./../../assets/img/commerce-center-pic.jpg" alt="trade center")
      .panel__info
        .panel__subtitle INTERNATIONAL
        .panel__title COMMERCE CENTRE
        p.panel__text Successful businesses have many things in common, today we’ll look at the big ‘R’ of recognition and how a digital advertising network may help.
        +button({text:'More datails', type: "Submit"})(class='button panel__button')
        .panel__address
          i.fa-solid.fa-location-dot
          a(href="https://goo.gl/maps/iWH97jQ7F2P724yp7" target="_blank")
            span Hong Kong - 1588 feet
