mixin footer()
  footer.c-footer#contact
    +registration()
    .c-footer__wrapper
      img.c-footer__image(src="./../../assets/img/header-bg.jpg" alt="background image")
      .c-footer__main
        .c-footer__content
          .c-footer__logo 
            img(src="./../../assets/icons/logo.svg" alt="logo")
          .c-footer__contacts 
            a(href="#")
              span.icon__border
                i.fa-brands.fa-facebook-f
            a(href="#")
              span.icon__border
                i.fa-brands.fa-twitter
            a(href="#")
              span.icon__border
                i.fa-brands.fa-instagram
        .c-footer__copyright Copyrights © 2020 Montichello