include ./header
include ./banner
include ./what-we-do
include ./commerce-centre
include ./trade-centre
include ./registration
include ./news
include ./map
include ./footer
include ./gallery
include ./modal