.c-burger-menu {
  display: none;
  z-index: 100;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  &__wrapper {
    color: $c-white;
    padding: 30px 20px;
    text-align: center;
    min-width: 100%;
    font-size: $fs-h3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__navigation {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-content: center;
    align-items: flex-start;
  }

  .navigation__link {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
