.c-gallery {
  margin-bottom: 70px;

  &__wrapper {
    @include flexColumn;
    max-width: 100%;
    min-height: 100vh;
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    color: $c-black-text;
    font-size: $fs-h2;
    margin-bottom: 90px;

    @media (max-width: $bp-tablet) {
      font-size: $fs-h3;
      margin-bottom: 40px;
    }
  }

  &__gallery {
    display: flex;
    margin-bottom: 60px;
    gap: 10px;

    @media (max-width: $bp-tablet) {
      flex-direction: column;
    }
  }

  &__main {
    transition: $t-long;
    transform-style: preserve-3d;

    &:hover {
      transform: rotateY(180deg);
    }
  }

  &__side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    img:hover {
      transform: scale(1.2);
      transition: $t-normal;
      // cursor: pointer;
    }
  }
}
